<!DOCTYPE html>
<html>
<head>
  <title>RulesManagement</title>
  
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main">
<%= yield %>
</div>
</body>
</html>
